{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taqneeq Fest Departnment Classifier</title>
  <link rel="stylesheet" type="text/css" href="{% static 'website/index.css' %}">
</head>
<body>
<script type="module" src="{% static 'website/script.js' %}"></script>

<!-- Canvas -->
<canvas class="orb-canvas"></canvas>
<div class="overlay">
  <div class="overlay__inner">

   
    <h1 class="overlay__title">
      Taqneeq 16.0</br> 
      Hey, would you like to Know What 
      <span class="text-gradient">Departnment</span> You Should Choose?
    </h1>
 
    <p class="overlay__description">
      This Application Will Help you choose the right Departnment For yourself based on the 
      <strong> type of questions you answer</strong>
    </p>
    <div class="overlay__btns">

      <button class="overlay__btn overlay__btn--transparent">
        <a href="{% url 'form' %}" >
          Check it out <3
        </a>
      </button>

      <button class="overlay__btn overlay__btn--colors">
        <span>Randomise Colors</span>
        <span class="overlay__btn-emoji">🎨</span>
      </button>
    </div>
  </div>
</div>


</body>
</html>